/* MainDivContainer Style */
.main-div-container {
  margin-left: auto;
  margin-right: auto;
}

/* NameSurnameDiv */
.name-surname-div {
  background-color: #ba0001;
  margin-left: 14%;
  margin-right: 14%;
}

/* NameSurnameId */
#name-surname-id {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f7d7dc;
}

#profession-id {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f7d7dc;
}

/* Vertical Line Style */
.vertical-line {
  border-left: 4px solid #cf303a;
  width: 1px;
  height: 100%;
  left: 100%;
  position: absolute;
  top: 0;
}

/* SummaryDiv */
.summary-div {
  text-align: right;
  padding: 3%;
}

/* Education Div */
.education-div {
  text-align: right;
  padding: 3%;
}

/* RelevantSkillsHeading */
#relevant-skills-heading {
  text-align: right;
  padding: 3%;
}

/* ProgressBarTabovi */
.progress-bar-tabovi {
  margin-left: 70%;
}

/* ContactDiv */
.contact-div {
  text-align: left;
  padding: 3%;
}
/* AboutMeDiv */
.about-me-div {
  text-align: left;
  padding: 3%;
}
/* HobbiesDiv */
.hobbies-div {
  text-align: left;
  padding: 3%;
}
/* lineSummaryContact */
.line-summary-contact {
  border-bottom: 4px solid #f5999f;
  position: absolute;
  height: 1px;
  top: 6.5%;
  left: -25px;
  width: 50px;
}
/* dotSummaryContact */
.dot-summary-contact {
  position: absolute;
  margin-top: -10%;
  margin-left: 0;
  margin-right: 0;
  left: 63%;
  transform: translateX(-100%);
  width: 15px;
  height: 15px;
  background-color: #f5999f;
  border-radius: 50%;
}
.line-hobbies {
  border-bottom: 4px solid #f5999f;
  position: absolute;
  width: 20px;
  top: 30.3%;
  left: 0;
  width: 30px;
}
/* dotSummaryContact */
.dot-hobbies {
  position: absolute;
  margin-top: -15%;
  margin-left: 0;
  margin-right: 0;
  left: 20%;
  transform: translateX(-100%);
  width: 15px;
  height: 15px;
  background-color: #f5999f;
  border-radius: 50%;
}
.line-education {
  border-bottom: 4px solid #f5999f;
  position: absolute;
  width: 20px;
  top: 43.5%;
  left: -35px;
  width: 30px;
}
/* dotSummaryContact */
.dot-education {
  position: absolute;
  margin-top: -15%;
  margin-left: 0;
  margin-right: 0;
  left: 135%;
  transform: translateX(-100%);
  width: 15px;
  height: 15px;
  background-color: #f5999f;
  border-radius: 50%;
}
.line-about-me {
  border-bottom: 4px solid #f5999f;
  position: absolute;
  width: 20px;
  top: 61%;
  left: 0;
  width: 30px;
}
/* dotSummaryContact */
.dot-about-me {
  position: absolute;
  margin-top: -15%;
  margin-left: 0;
  margin-right: 0;
  left: 20%;
  transform: translateX(-100%);
  width: 15px;
  height: 15px;
  background-color: #f5999f;
  border-radius: 50%;
}
.line-relevant-skills {
  border-bottom: 4px solid #f5999f;
  position: absolute;
  width: 20px;
  top: 77.5%;
  left: -35px;
  width: 30px;
}
/* dotSummaryContact */
.dot-relevant-skills {
  position: absolute;
  margin-top: -15%;
  margin-left: 0;
  margin-right: 0;
  left: 135%;
  transform: translateX(-100%);
  width: 15px;
  height: 15px;
  background-color: #f5999f;
  border-radius: 50%;
}

#about-me-id {
  width: 50%;
  text-align: justify;
}

@media only screen and (max-width: 1330px) {
  .line-about-me {
    top: 59%;
  }
}

/* Responsive */
@media only screen and (max-width: 991px) {
  .summary-div {
    text-align: center;
  }

  .education-div {
    text-align: center;
    margin-top: -18%;
  }

  .contact-div {
    text-align: center;
  }

  /* BAG BULLETS */
  .hobbies-div {
    text-align: center;
    width: 30%;
    margin-left: 35%;
  }

  .about-me-div {
    text-align: center;
  }

  .vertical-line {
    display: none;
  }

  .progress-barovi {
    margin-right: 35%;
    margin-top: -10%;
  }

  #about-me-id {
    margin-left: 30%;
  }
}
